*{
    margin: 0px;
    padding: 0px;
}

hr{
    height: 0px;
    border: 1px solid #9A9DA2;
}

body{
    background-color: #efefef;
}

.clearfix::after{
    display: block;
    clear: both;
    content: '';
}

.topNavBar{
    padding: 0 16px;
}

header{
    padding: 20px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.topNavBar a{
    text-decoration: none;
}

.topNavBar nav{
    float: right; 
    padding: 3px 0px 4px 0px;
}

.topNavBar nav ul{
    list-style:none; 
    margin: 0;
    padding:0; 
}

.topNavBar nav ul > li{
    float: left; 
    margin: 0px 17px;
}

.topNavBar nav ul li > a{
    color: rgba(255,255,255,0.7);
    font-size: 12px;
    border-top: 3px solid transparent;
    border-bottom:3px solid transparent;
    padding: 5px;
    display: block;
    font-weight: bold;
}

.topNavBar nav ul li > a:hover{
    border-bottom-color:#e06567;
}

.topNavBar .logo{
    float: left; 
    font-family: "Hiragino Kaku Gothic Std";
    font-size: 22px;
    padding: 3px 0px 4px 0px;
}

.topNavBar .logo .rs {
    color: #e6686a;
    margin-right: 4px;
  }
  
.topNavBar .logo .card {
    color: #9A9DA2;
}

.banner{
    background-image: url(../images/rs-cover.jpg);
    height: 515px;
    background-position: center center;
    background-size: cover;
}

.banner .mask{
    height: 515px;
    background-color: rgba(0,0,0,0.8);
}

.userCard{
    border: 1px solid red;
    max-width: 949px;
    margin: 0 auto;
}

.userCard .welcome{
    background: #e06567;
    color: white;
    display: inline-block;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
}

.userCard .welcome .triangle{
    position: absolute;
    display: inline-block;
    border: 10px solid transparent;
    border-left-color:#e06567;
    border-top-width: 0px;
    top: 100%;
    left: 4px;
}

.userCard .photo{
    float: left;
}

.userCard .info{
    float: left;
    margin-left: 65px;
    width: 470px;
}

.userCard .info h1{
    font-weight: bold;
    padding-top: 32px;
}

.userCard .maininfo{
    padding: 50px 50px;
}

.userCard dl dt,
.userCard dl dd{
    float: left;
    padding: 5px 0;
}

.userCard dl dt{
    width: 30%;
}

.userCard dl dd{
    width: 70%;
}